<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    
    <div class="jumbotron" style="margin-bottom: 10px; background: linear-gradient(to bottom, #336699 0%, #009999 100%);">
    <div class="container text-center">
      <h1 style="color: #fff9f4;" >Welcome To Chat-Room</h1>      
    
    </div>
  </div>

    <div *ngIf="error" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
    <div class="omb_login">
    	<h3 class="omb_authTitle">Login Page </h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-1"></div>	
        	<div class="col-xs-4 col-sm-4">
		        <a (click)="loginWithGoogle()" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Login With Google</span>
		        </a>
	        </div>
          <div class="col-xs-4 col-sm-1"></div>		
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" (submit)="loginWithEmail($event, email.value, password.value)">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input #email type="email" id="email"  class="form-control" placeholder="email address">
					</div>
			
										
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input #password type="password" id="password" class="form-control"  placeholder="Password"  required="">
					</div>
                    

					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>
  
    	</div>  	
     
	</div>
 <h5 class ="text-center">Don't Have An Account Yet? <a [routerLink]="['/register']" >Sign up</a> Here</h5>
 </div>