<body>
  <div class="form" >
	    <h1>New Chat Room</h1>
	    
    <div class="contentform">
    	<div class="leftcontact">
			    <div class="form-group">
			          <p>Chat Room Name<span>*</span></p>
			          <span class="icon-case"><i class="glyphicon glyphicon-sunglasses"></i></span>
				        <input type="text" name="name" id="namn" required=""  [(ngModel)] = "roomTitle" (keypress) = "checkTitle()"/>
                <br><br>
                <div *ngIf ="checktitle ==1" class="alert alert-warning">
                    <strong>Pay Attention!</strong> Room name must be added
                </div>
          </div> 
          

			    <div class="form-group">
			      <p>Members:</p>
            <div *ngIf ="checkmembers ==1" class="alert alert-warning">
                    <strong>Please add at lest one member</strong> You don't need us to talk with yourself :)
            </div>
              <ul  *ngFor = "let user of memberList" style = "list-style-type: none; padding-left: 10px;">
                <li >
                  <button type="button" class="btn btn-danger btn-xs" (click) = "deleteUser(user)"> Delete</button>
                   {{user.email}} 
                </li>
              </ul>
			    </div>	
	    </div>

	  <div class="rightcontact">	
			<div class="form-group">
			  <p>Add Users <span>*</span></p>
        
        <div style="overflow: scroll; height: 300px;">
          <ul  class="list-group" >
            <span *ngFor = "let member of users | async">
              <a>
              <li *ngIf = "member.$key != userId" class="list-group-item " (click) ="addMember(member)"> 
                <span class="icon-casess"><img src="{{member.photo}}" alt="profilePic" style ="height: 30px; width: 30px;" ></span>
                <div ><b style="margin-left: 10px;">Name</b>: {{member.name}}</div>
                <div ><b style="margin-left: 10px;">Email</b>: {{member.email}} </div> 
              </li>
              </a>
            </span>
          </ul>
        </div>
			</div>	
	  </div>
	</div>

<button type="button" (click)="create()" class="bouton-contact">Open Room</button>
	
</div>	

  
</body>
