<h3 class="list-group-item-heading">{{room.title}}</h3>
<p class="list-group-item-text">Open Date: {{room.date | date:"MM/dd/yy hh:mm a" }}</p>
<a [routerLink]="['/chat/',room.$key,room.title]" style="cursor: pointer;">Open</a>

