<div class="container" style="margin-top:30px">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Register </strong></h3>
    </div>
  
    <div class="panel-body">
    <form (submit)="register($event, name.value, email.value, password.value)">
    <div *ngIf="error" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
    </div>
    <div class="form-group">
        <input  #name type="text" id="name" class="form-control "placeholder="Name" required="">
    </div>
    <div class="row">
    			<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
             <input #email type="email" id="email" class="form-control"placeholder="Email address" required="" autofocus="">
					</div>
				</div>
          <div class="col-xs-12 col-sm-6 col-md-6">
    				<div class="form-group">
             <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
					</div>
				</div>
		</div>                             
                                    
  <button type="submit" class="btn btn-success">Register</button>
  
  <hr style="margin-top:10px;margin-bottom:10px;" >
  

</form>
  </div>
</div>
</div>
</div>