
    <i class="pull-left fa fa-comment fa-fw" style ="text-align: center; "></i> <span style="font-size: 20px;"><b>{{room.title}}</b> </span>
    <span class="pull-right text-muted small"><em>{{room.date | date:"MM/dd/yy" }}</em>
    </span>
