<div class="row">
  <div class="col-md-3" style="margin-left: 30px;">
			  <h3>Members</h3>
    <div style="overflow: scroll; height: 450px;">
      <ul  class="list-group" >
        <span *ngFor = "let member of memberList">
          <li class="list-group-item "> 
            <div *ngIf = "member.admin == 1" style="color: #cc9900;"><b>ADMIN</b> </div> 
            <span class="icon-casess"><img src="{{member.photo}}" alt="profilePic" style ="height: 30px; width: 30px;" ></span>
            <div ><b style="margin-left: 10px;">Name</b>: {{member.name}} </div> 
            <div ><b style="margin-left: 10px;">Email</b>: {{member.email}} </div>
            
          </li>
        </span>
      </ul>
     
    </div>
     <a  *ngIf ="userId == roomAdmin" [routerLink]="['/chatForm/',roomID,chatTitle]" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;">Update Room Detils</a>
     <button  *ngIf ="userId != roomAdmin" type="button"  class="btn btn-warning btn-lg btn-block"  (click)= "leaving()"  style="margin-top: 10px;">  Leave Room</button>
  </div>

  <div class="chat_window ">
    <div class="top_menu">
        <div class="title">{{chatTitle}}</div>
    </div>
      <div  >
        <div  >
            <ul #scrollMe class="messages">
              <div *ngFor="let message of messages | async">
              <span  *ngIf ="message.room == roomID">
                <li   class="message appeared" [class.right]="isYou(message.email)" [class.left]="isMe(message.email)">
                  <img class="avatar" src="{{message.photo}}" />
                  <div class="text_wrapper">
                    <div class="text">{{ message.message }}</div>
                    <div class="author">
                        {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
                    </div>
                  </div>
                </li>
              </span>
            </div>
            </ul>
        </div>
        
        <div  class="bottom_wrapper clearfix">
          <div class="message_input_wrapper">
          <input type="textarea" class="message_input" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" >
          </div>
          <div class="send_message">
            <div class="icon"></div>
            <a class=" text" (click)="sendMessage()" style="text-decoration: none; color: black;">SEND</a>
          </div>
        </div>
      </div>

  </div>
</div>
