<nav class="navbar navbar-default" style="background-color: #f0efef;">
  <div class="container-fluid">

    <div class="navbar-header">
      <a *ngIf="isLoggedIn" class="navbar-brand" [routerLink]="['']">All Chats</a>
    </div>

    <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav navbar-right border-left">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img src="{{img}}" alt="profilePic" style ="height: 30px; width: 30px; margin-top: 10px;" class="img-circle"></li>
        <li><a>{{afService.displayName }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>



