<!DOCTYPE html>
<html lang="en">

  <body>
<div class="container">

  <div class="jumbotron" style="margin-bottom: 10px; background: linear-gradient(to bottom, #336699 0%, #009999 100%);">
    <div class="container text-center">
      <h1 style="color: #fff9f4;" >Chat Rooms</h1>      
     <a [routerLink]="['/chatForm']" class="btn btn-info btn-lg btn-block">Create New Chat Room</a>
    </div>
  </div>

  <div class="container-fluid bg-3 ">    
    <h2  style=" border-bottom-style: inset;">Your Rooms</h2><br>
    <div class="row">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-5" style=" border-right-style: dotted; border-color:#f0f0f5;"> 
        <h4 class ="text-center">Admin Of</h4><br>
        <div class="panel-body">
          <div  class="list-group">
            <span *ngFor = "let room of chatRooms | async">
              <a *ngIf = "manegeOf(room)"  [routerLink]="['/chat/',room.$key,room.title]" class="list-group-item">  
               <app-room  [room] = "room" [userId] = "userId"></app-room>
              </a>
             </span>
           </div>
        </div>
      

      </div>
      <div class="col-md-5"> 
       <h4 class ="text-center">Member Of</h4><br>
        <div class="panel-body">
          <div  class="list-group">
            <span *ngFor = "let room of chatRooms | async">
              <a *ngIf = "memberId(room)"  [routerLink]="['/chat/',room.$key,room.title]" class="list-group-item">  
                  <app-room  [room] = "room"></app-room>
            </a>
            </span>
          </div>
       </div>
      </div>
      <div class="col-md-1">
       
      </div>
    </div>
  </div><br>

   </div>

  </body>
  </html>


